.clickable:hover {
  cursor: pointer;
}

input.general {
  vertical-align: bottom;
  height: 32px;
  display: inline-block;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #d0cfeb;
  outline: none;
  padding: 4px 8px;
  font-size: 15px;
}