.clickable:hover {
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
}

input.general {
  vertical-align: bottom;
  height: 32px;
  display: inline-block;
  width: 100%;
  border-radius: 8px 8px 8px 8px;
  border: 1px solid #d0cfeb;
  outline: none;
  padding: 4px 8px;
  font-size: 15px;
}

.success {
  background-color: black;
  color: yellow;
  font-weight: bold;
}

body {
  background: #340e07;
  color: white;
}

input {
  background: white;
  color: black;
}

.btn {
  text-decoration: none;
  margin: 12px 12px;
  display: block;
  color: white;
  padding: 8px 8px;
  text-align: center;
  background: #8a6c5b;
  box-shadow: 2px 4px 5px black;
  border-radius: 4px;
}