:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Manjari, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  color: black;
}

#root {
  width: 100%;
}

div {
  box-sizing: border-box;
}

.manjari-thin {
  font-family: "Manjari", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.manjari-regular {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manjari-bold {
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  font-style: normal;
}
